
#paginaContacto {
    display: flex;
    flex-direction: column;
    .swiper {
        width: 50px;
        height: 50px;
        margin:20px;
        padding:20px;
        img{
            height: 200px;
            width: 25%;
            object-fit: cover;
        }

      }
       
   
    #formulario {
        background: $color-secundario-light;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        padding: auto;
        align-items: center;
        border-radius: 15px;
        
        h1 {
            margin: 20px;
            color: $color-fondo-light;
            text-transform: uppercase;
            font-weight: bold;
            margin-bottom: 15px;
        }

        input {
            text-transform: uppercase;
            margin: 1%;
            width: 20vw;
            text-align: center;
            border-radius: 20px;
            border: $color-secundario-dark solid;
            background: $color-fondo-light;
            padding: 5px;
        }

        label {
            color: $color-fondo-light;
            text-transform: uppercase;
            margin: 20px;
        }

        textarea {
            width: 500px;
            height: auto;
        }
   
    }
    .swiper {
        margin-top: 100px;
        width: 700px;
        height: 500px;
       
      }
}

@media (max-width:900px) {
    .swiper {
        width: 50px;
        height: 50px;
        margin-bottom: 30px;
        img{
            height: 200px;
            width: 100%;
            object-fit: cover;
        }

      }
    #paginaContacto {
        display: flex;
        align-items: center;

        
       
        #formulario {
            
            margin: auto;
            background: $color-fondo-dark;
            display: flex;
            flex-direction: column;
            padding: 20px;
            align-items: center;
            border-radius: 15px;
            margin-bottom: 30px;
            margin-top: 30px;
            h1 {
                font-size: 15px;
                margin: 20px;
                color: $color-fondo-light;
                text-transform: uppercase;
                font-weight: bold;
                margin-bottom: 15px;
            }
    
            input {
                text-transform: uppercase;
                margin: 1%;
                width: 50vw;
                text-align: center;
                border-radius: 20px;
                border: $color-secundario-dark solid;
                background: $color-fondo-light;
                padding: 5px;
            }
    
            label {
                color: $color-fondo-light;
                text-transform: uppercase;
                margin: 20px;
            }
    
            textarea {
                width: 250px;
                height: auto;
            }
        }

        
    }
}