/* CLASES*/
@import "variables";





.tituloSubtitulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $color-fondo-light;
    font-family: "Roboto Slab", "Times New Roman", serif;
}

#paginaPrincipal {
    h1 {
        font-size: 4em;
        font-weight: 900;
        cursor: default;

    }

    h2 {
        font-size: 2em;
        line-height: 1.55em;
        font-weight: 500;
        cursor: default;

    }

    h3 {
        font-size: 1.4em;
        line-height: 2em;
        font-weight: 700;
        cursor: default;

    }

    h4 {
        font-size: 1em;
        line-height: 1em;
        font-weight: 600;
        cursor: default;

    }


}

/*Clases Index-buscador*/

.buscador {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;

    input {
        margin-top: 40px;
        padding: 0 20px;
        font-size: 18px;
        color: $color-fondo-dark;
        outline: none;
        border: 1px solid $color-fondo-light;
        border-radius: 30px;
    }
}

/* Clases Index-Catalogo*/


.imagenSecciones {
    display: flex;
    flex-direction: column;
    background-color: $color-secundario-light;
    a {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        

        img {
            object-fit: cover;
            /*Sirve para que no se distorsione la imagen */
            justify-content: center;
            border-radius: 5px;
            border: 1px solid $color-fondo-light;
        }

        h3 {
            display: flex;
            font-size: 120px;
            text-align: center;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            font-weight: bolder;
            color: $color-fondo-light;
        }


    }



}

/* Clases Index-UltimasNovedades*/



.imagenNovedades {
    display: flex;
    flex-direction: column;
    background-color: $color-fondo-light;
    margin: 10px 10px 0px 0px;

    a {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        text-decoration: none;

        img {
            object-fit: cover;
            /* Sirve para que no se distorsione la imagen */
            justify-content: center;
            border-radius: 10px;

        }
    }





}


/* Clases Index-Proximamente*/

.imagenProximamente {
    display: flex;
    background-color:$color-fondo-light;
    flex-direction: column;
    border-bottom: solid 5px $color-secundario-dark;
    border-top: solid 5px $color-secundario-dark;
    justify-content:center;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-bottom: 5%;
    padding: 10px;
    margin: 30px;
    a {
        padding: 15px;
        text-align: center;
        align-items: center;
        justify-content: center;
        text-decoration: none;
       

        img {
            object-fit: cover;
            /* Sirve para que no se distorsione la imagen */
            justify-content: center;
            border-radius: 10px;
            background-color: $color-fondo-light;
        }

    }

}

/* RESPONSIVE MOBILE*/
@media (max-width:768px) {

    /* RESPONSIVE MOBILE Index BOOTSTRAP */
    #paginaPrincipal {
        --bs-body-bg: $color-fondo-dark;
        border: 30px solid $color-fondo-light;
        margin: auto;

        header {
            display: none;
        }

        section {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }


    .buscador {
        input {
            width: 200px;
            height: auto;
        }
    }


    


    /* RESPONSIVE MOBILE Propiedades Index-UltimasNovedades*/

    .imagenNovedades {
        max-width: 200px;
        height: 150px;
        padding: 15px;
        border: solid 3px rgb(179, 176, 176);

        img {
            height: 50px;
            width: 50px;
            border: 2px solid rgb(0, 0, 0);
        }

        a {
            font-size: 20px;
            flex-grow: 1;
            height: 140px;
            width: auto;
            background-color: rgb(123, 121, 121);
            color: aliceblue;
            border: 1px solid rgb(255, 255, 255);
            border-radius: 10px;
            margin-top: 2px;
        }

    }




    /* RESPONSIVE MOBILE Propiedades Index-Proximamente*/

    
    .imagenProximamente {
        background-color: rgba(253, 14, 14, 0.274);
        max-width: 200px;
        height: 200px;
        padding: 50px;
        margin-top: 15px;

        img {
            background-color: white;
            height: 100px;
            width: 100px;

        }

        a {
            font-size: 15px;
            flex-grow: 1;
            height: 500px;
            width: auto;
            color: white;
            background: #002d72;
            border: solid #0096c8 2px;
        }
    }


}

/* RESPONSIVE DESKTOP*/
@media (min-width:769px) {
    /****** INDEX BOOTSTRAP*****/

    #paginaPrincipal {
        background-color: $color-fondo-dark !important;
        border-radius: 12px;
    }

    #paginaPrincipal section {
        /*Se usa ID para central todos los elementos SOLO en la pagina principal*/

        display: flex;
        justify-content: center;
        margin-top: 30px;
        gap: 20px;
    }

    .buscador input {
        width: 500px;
        height: 40px;

    }

    .w-100 {
        /* Fuerza a poner la imagen en carusel al mismo tamaño */
        width: 100vw !important;
        height: 50vh;

    }

    .carousel-item {
        border: $color-fondo-light solid 3px;
        
    }

    /* Propiedades Index-Catalogo */
   

    .imagenSecciones {
        overflow: hidden;
        height: 600px;
        max-width: 290px;
        border-bottom: solid 3px $color-fondo-light;
        padding: 30px;
        border-top: solid 3px $color-fondo-light;
        cursor: default;
        transition: all 400ms ease;

        a {
            display: flex;
            flex-direction: column;
            transition: all 400ms ease;
            

            img {
                height: 350px;
                width: 230px;
                box-shadow:7px 14px 20px 3px $color-secundario-dark;
            }

            H3 {
                padding: 50px;
                transition: all 400ms ease;

            }

            &:hover {
                transform: translateY(-5%);
                background-color: $color-fondo-light;

                H3 {
                    color: $color-fondo-dark;
                }
            }
        }


    }

    /* Propiedades Index-UltimasNovedades*/
  

    .imagenNovedades {

        max-width: 350px;
        height: 350px;
        padding: 50px;
        border-bottom: solid 3px $color-fondo-light;
        border-top: solid 3px $color-secundario-dark;
        border-radius: 50%;
        transition: all 1200ms ease;

        a {
            display: flex;
            flex-direction: column;

            img {
                height: 200px;
                width: 200px;
                border: 2px solid $color-secundario-light;
                position: relative;
                top: -20px;

            }
        }

        h3 {

            font-size: 10px;
            flex-grow: 1;
            height: 110px;
            width: auto;
            background-color: $color-secundario-dark;
            color: $color-fondo-light;
            border-radius: 10px;
            position: relative;
            top: -80px;
            transition: all 800ms ease;

        }

        h1 {
            color: $color-fondo-light;
            position: relative;
            top: -226px;
            visibility: hidden;
            opacity: 0;
            transition: all 1200ms ease;
        }

        &:hover {
            h1 {
                opacity: 1;
                visibility: visible;
                box-shadow: rgba(234, 231, 231, 0.45) 0px 25px 20px -20px;
            }

            h3 {
                opacity: 0;
                visibility: hidden;

            }

        }

        &:hover {
            background-color: rgba($color-principal, 0.178);

            img {
                border: 2px solid rgb(0, 0, 0);
                box-shadow: 0px 25px 40px 2px rgba(0, 0, 0, 0.7);
                opacity: 0.2;
            }
        }
    }

    /* Propiedades Index-Proximamente*/

    

    .imagenProximamente {
        display: flex;
        justify-content: start;
        max-width: 260px;
        max-height: 310px;
        h2{
            visibility: hidden;
        }

        a {

            background-color: rgba($color-principal, 0.87);
            display: flex;
            flex-direction: column;
            margin: 20px 30px 10px 40px;
            font-size: 10px;
            flex-grow: 1;
            color: $color-fondo-light;
            background: $color-fondo-dark;
            border: solid $color-fondo-light 2px;
            border-radius: 20px;

            img {
                display: flex;
                height: 150px;
                width: 150px;
                padding: 10px;
                object-fit: cover;
                /* Sirve para que no se distorsione la imagen */

            }


        }


    }

}


