/* CLASES*/
@import "variables";
.tituloSubtitulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $color-fondo-light;
    font-family: "Roboto Slab", "Times New Roman", serif;
}

#paginaPrincipal {
    h1 {
        font-size: 4em;
        font-weight: 600;
    }

    h3 {
        font-size: 1.3em;
        line-height: 1.55em;
        font-weight: 300;
    }
}

/*Clases Index-buscador*/

.buscador {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;

    input {
        margin-top: 40px;
        padding: 0 20px;
        font-size: 18px;
        color: $color-fondo-dark;
        outline: none;
        border: 1px solid $color-fondo-light;
        border-radius: 30px;
    }
}

/* Clases Index-Catalogo*/

.imagenSecciones {
    display: flex;
    flex-direction: column;
    background-color:#414852;

    img {
        object-fit: cover;
        /*Sirve para que no se distorsione la imagen */
        justify-content: center;
        box-shadow: 5px 5px 10px #002d72;
    }

    a {
        display: flex;
        font-size: 20px;
        text-align: center;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        font-weight: bolder;
        padding: 20px;
        color: $color-fondo-light;
    }

}

/* Clases Index-UltimasNovedades*/

.imagenNovedades {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    margin: 10px 10px 0px 0px;

    img {
        object-fit: cover;
        /* Sirve para que no se distorsione la imagen */
        justify-content: center;
        border-radius: 10px;
    }


    a {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        text-decoration: none;
    }

}


/* Clases Index-Proximamente*/
.imagenProximamente {
    display: flex;
    background-color: white;
    flex-direction: column;
    border-bottom: solid 3px black;
    border-top: solid 3px black;
    justify-content: center;

    img {
        object-fit: cover;
        /* Sirve para que no se distorsione la imagen */
        justify-content: center;
        border-radius: 10px;
    }


    a {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        text-decoration: none;
    }

}


/* RESPONSIVE MOBILE*/
@media (max-width:768px) {

    /* RESPONSIVE MOBILE Index BOOTSTRAP */
    #paginaPrincipal {
        --bs-body-bg: #4D668E;
        border: 30px solid white;
        margin: auto;

        header {
            display: none;
        }

        section {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }


    .buscador {
        input {
            width: 200px;
            height: auto;
        }
    }


    .imagenSecciones {
        height: 350px;
        max-width: 850px;
        border: solid 3px black;
        margin-top: 20px;

        img {
            height: 300px;
            width: 150px;
        }

        a {
            height: 100px;
            /*alto */
            max-width: 150px;
            /*ancho */

        }
    }



    /* RESPONSIVE MOBILE Propiedades Index-UltimasNovedades*/

    .imagenNovedades {
        max-width: 300px;
        height: 350px;
        padding: 45px;
        border: solid 3px rgb(179, 176, 176);

        img {
            height: 200px;
            width: 200px;
            border: 2px solid rgb(0, 0, 0);
        }

        a {
            font-size: 20px;
            flex-grow: 1;
            height: 250px;
            width: auto;
            background-color: rgb(123, 121, 121);
            color: aliceblue;
            border: 1px solid rgb(255, 255, 255);
            border-radius: 10px;
            margin-top: 2px;
        }

    }




    /* RESPONSIVE MOBILE Propiedades Index-Proximamente*/

    .imagenProximamente {
        background-color: rgba(253, 14, 14, 0.274);
        max-width: 200px;
        height: 200px;
        padding: 50px;
        margin-top: 15px;

        img {
            background-color: white;
            height: 100px;
            width: 100px;

        }

        a {
            font-size: 15px;
            flex-grow: 1;
            height: 500px;
            width: auto;
            color: white;
            background: #002d72;
            border: solid #0096c8 2px;
        }
    }


}

/* RESPONSIVE DESKTOP*/
@media (min-width:769px) {
    /****** INDEX BOOTSTRAP*****/

    #paginaPrincipal {
        background-color: $color-fondo-dark !important;
    }

    #paginaPrincipal section {
        /*Se usa ID para central todos los elementos SOLO en la pagina principal*/

        display: flex;
        justify-content: center;
        margin-top: 30px;
        gap: 20px;
    }

    .buscador input {
        width: 500px;
        height: 40px;

    }

    .w-100 {
        /* Fuerza a poner la imagen en carusel al mismo tamaño */
        width: 100% !important;
        height: 60vh;
    }


    /* Propiedades Index-Catalogo */
    .imagenSecciones {


        height: 600px;
        max-width: 350px;
        border-bottom: solid 3px black;

        padding: 30px;
        border-top: solid 3px black;
    }

    .imagenSecciones img {
        height: 400px;
        width: 250px;

    }

    .imagenSecciones a {
        height: 200px;
        /*alto */
        max-width: 250px;
        /* ancho */
    }


    /* Propiedades Index-UltimasNovedades*/

    .imagenNovedades {
        max-width: 300px;
        height: 300px;
        padding: 20px;
        border-bottom: solid 3px black;
        border-top: solid 3px black;

        img {
            height: 200px;
            width: 200px;
            border: 2px solid red;

        }


        a {
            font-size: 20px;
            flex-grow: 1;
            height: 250px;
            width: auto;
            background-color: rgb(123, 121, 121);
            color: aliceblue;
            border: 1px solid rgb(255, 255, 255);
            border-radius: 10px;
            margin-top: 2px;
        }



    }

    /* Propiedades Index-Proximamente*/

    .imagenProximamente {
        background-color: rgba(255, 255, 255, 0.87);
        max-width: 300px;
        height: 300px;
        padding: 20px;
        margin: 40px 10px 10px 40px;

        img {
            height: 200px;
            width: 200px;
            object-fit: cover;
            /* Sirve para que no se distorsione la imagen */
            justify-content: center;
        }

        a {
            font-size: 20px;
            flex-grow: 1;
            height: 250px;
            width: auto;
            color: white;
            background: #002d72;
            border: solid #0096c8 2px;
        }
    }



}