/*Clases figurasArticuladas*/
#figuraArticulada {
    background-color: $color-fondo-light;
    cursor:default; // evita que cambie el cursor del mouse a texto

}

.piePagina {
    grid-area: piePagina;
}

.productos {
    grid-area: productos;
    gap: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-fondo-dark;
}

.encabezado {
    grid-area: encabezado;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(rgba(55, 112, 255, 0.2), rgba(85, 133, 255, 0.2)), url(../multimedia/logoShfiguarts.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

/*Casilla productos*/


.casillaGeneralItem {
    display: flex;
    justify-content: space-between;
    background-color: $color-principal;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 800px;
    height: 150px;
    transition: all 400ms ease;

    &:hover{
        background-color:black;
        width: 900px;
        height: 160px;
    }
}



.imagenItem {
    display: flex;
    padding: 20px;
    max-width: 300px;
    max-height: auto;
    align-items: center;
    justify-content: center;
    img {
        margin-top:-140px;
        max-width: 200px;
        max-height: auto;
        box-shadow: 0 16px 38px -12px rgb(0 0 0 / 56%), 0 4px 25px 0px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);;
        
    }
}



.descripcion {
    
    display: flex;
    flex-direction: column;
    font-size: 10px;
    align-items: center;
    justify-content:space-around;
    max-width: 400px;
    text-align: center;

}

.productoNombre {
    font-size: 25px;
    font-weight: bolder;
    font-family: 'Fredoka', sans-serif;
    color: $color-fondo-light;

}

.productoPrecio {
    color: $color-fondo-light;
    display: flex;
    font-size: 35px;
    font-weight: bolder;
    font-family: 'Fredoka', sans-serif;
    align-self: flex-end;

}

.estadoYconsulta {
    background-color:$color-secundario-dark;
    color: $color-fondo-light;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}




/* RESPONSIVE MOBILE*/
@media (max-width:768px) {





    /*  RESPONSIVE MOBILE PAGINA FIGURA ARTICULADA */

    #figuraArticulada {

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        gap: 0px 0px;
        grid-template-areas:
            "encabezado"
            "lista"
            "productos"
            "piePagina";
    }

    .productos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .casillaGeneralItem {
        width: 400px;
        height: auto;
    }

    .productoNombre {
        font-size: 8px;
        text-align: center;
    }

    .productoPrecio {
        margin-top: 8px;
        font-size: 10px;
    }

    .estadoYconsulta {
        font-size: 15px;
    }

    .imagenItem {

        height: 100px;
        width: 80px;
        img {

            height: 80px;
            width: auto;
            align-items: center;
            justify-content: center;
            object-fit: cover;
        }
    }

     



}


/* RESPONSIVE DESKTOP*/
@media (min-width:769px) {



    /*  RESPONSIVE DESKTOP PAGINA FIGURA ARTICULADA */

    #figuraArticulada {
        display: grid;
        grid-template-columns: 0.7fr 1fr 1.2fr;
        grid-template-rows: 0.4fr 0.4fr 2.1fr 0.5fr;
        gap: 0px 0px;
        grid-template-areas:
            "encabezado encabezado encabezado"
            "lista lista lista"
            "productos productos productos"
            "piePagina piePagina piePagina";
    }

    


}