// Paleta de colores usando colormind:

// Color principal:Se aplica como identidad principal de la pagina.
$color-principal:#A6B1C3;

// Llama la atención al contrastarlos con el resto de la paleta.
$color-secundario-light:#9EABB5;
$color-secundario-dark:#8895A2;

//Se utiliza para contrarestar colores como background: 
$color-fondo-light:#FAF9F8;
$color-fondo-dark:#002D72;

