
@import "variables";
@import "index";
@import "listaArticulos";
@import "preguntasFre";
@import"footer";
@import"barraNavegacion";
@import "contacto";
@import "nosotros";
* {
    padding: 0px;
    margin: 0px;
     box-sizing: border-box;// Continene dentro las mismas dimensiones */

}

html{
   margin-left: 5%;
   margin-right: 5%;
   margin-top: 1%;
   margin-bottom: 2%;
   background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../multimedia/fondoPagina.jpg);

   
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:$color-fondo-light;
    width: auto;
    padding: auto;
    border-radius: 12px;
    

}
.ajusteTexto{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 30px;
    font-size: 20px;
    margin: auto;
    overflow: hidden;
}

.tituloSubtitulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $color-fondo-light;
    font-family: "Roboto Slab", "Times New Roman", serif;
}
