@charset "UTF-8";
/* CLASES*/
#paginaPrincipal h1 {
  font-size: 4em;
  font-weight: 900;
  cursor: default;
}
#paginaPrincipal h2 {
  font-size: 2em;
  line-height: 1.55em;
  font-weight: 500;
  cursor: default;
}
#paginaPrincipal h3 {
  font-size: 1.4em;
  line-height: 2em;
  font-weight: 700;
  cursor: default;
}
#paginaPrincipal h4 {
  font-size: 1em;
  line-height: 1em;
  font-weight: 600;
  cursor: default;
}

/*Clases Index-buscador*/
.buscador {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}
.buscador input {
  margin-top: 40px;
  padding: 0 20px;
  font-size: 18px;
  color: #002D72;
  outline: none;
  border: 1px solid #FAF9F8;
  border-radius: 30px;
}

/* Clases Index-Catalogo*/
.imagenSecciones {
  display: flex;
  flex-direction: column;
  background-color: #9EABB5;
}
.imagenSecciones a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}
.imagenSecciones a img {
  object-fit: cover;
  /*Sirve para que no se distorsione la imagen */
  justify-content: center;
  border-radius: 5px;
  border: 1px solid #FAF9F8;
}
.imagenSecciones a h3 {
  display: flex;
  font-size: 120px;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-weight: bolder;
  color: #FAF9F8;
}

/* Clases Index-UltimasNovedades*/
.imagenNovedades {
  display: flex;
  flex-direction: column;
  background-color: #FAF9F8;
  margin: 10px 10px 0px 0px;
}
.imagenNovedades a {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.imagenNovedades a img {
  object-fit: cover;
  /* Sirve para que no se distorsione la imagen */
  justify-content: center;
  border-radius: 10px;
}

/* Clases Index-Proximamente*/
.imagenProximamente {
  display: flex;
  background-color: #FAF9F8;
  flex-direction: column;
  border-bottom: solid 5px #8895A2;
  border-top: solid 5px #8895A2;
  justify-content: center;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  margin-bottom: 5%;
  padding: 10px;
  margin: 30px;
}
.imagenProximamente a {
  padding: 15px;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.imagenProximamente a img {
  object-fit: cover;
  /* Sirve para que no se distorsione la imagen */
  justify-content: center;
  border-radius: 10px;
  background-color: #FAF9F8;
}

/* RESPONSIVE MOBILE*/
@media (max-width: 900px) {
  /* RESPONSIVE MOBILE Index BOOTSTRAP */
  #paginaPrincipal {
    --bs-body-bg: rgba(114, 114, 129, 0.878) !important;
    border: 30px solid #FAF9F8;
    margin: auto;
  }
  #paginaPrincipal header {
    display: none;
  }
  #paginaPrincipal section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .buscador input {
    width: 200px;
    height: auto;
  }
  .imagenSecciones {
    display: flex;
    flex-direction: column;
    background-color: #9EABB5;
    margin-top: 20px;
    width: 100%;
  }
  .imagenSecciones a {
    display: flex;
    flex-direction: row;
    text-decoration: none;
  }
  .imagenSecciones a img {
    min-height: 90px;
    width: 90px;
    object-fit: cover;
    /*Sirve para que no se distorsione la imagen */
    justify-content: center;
    border-radius: 5px;
    border: 1px solid #FAF9F8;
  }
  .imagenSecciones a h3 {
    padding: 20px;
    display: flex;
    font-size: 30px;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: bolder;
    color: #FAF9F8;
  }
  /* RESPONSIVE MOBILE Propiedades Index-UltimasNovedades*/
  .tituloSubtitulo {
    padding: 20px;
    display: flex;
    font-size: 7px;
    align-items: center;
  }
  .imagenNovedades {
    display: flex;
    align-items: center;
    min-width: 327px;
    height: 346px;
    padding: 15px;
    border: solid 3px rgb(179, 176, 176);
  }
  .imagenNovedades img {
    max-height: 190px;
    width: auto;
    border: 2px solid rgb(0, 0, 0);
  }
  .imagenNovedades a {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    font-size: 11px;
    flex-grow: 1;
    height: 20px;
    width: auto;
    background-color: rgb(123, 121, 121);
    color: aliceblue;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    margin-top: 2px;
  }
  .imagenNovedades h1 {
    visibility: hidden;
  }
  /* RESPONSIVE MOBILE Propiedades Index-Proximamente*/
  .imagenProximamente {
    background-color: rgba(253, 14, 14, 0.274);
    max-width: 300px;
    height: 300px;
    padding: 50px;
    margin-top: 15px;
  }
  .imagenProximamente img {
    background-color: white;
    height: 100px;
    width: 100px;
  }
  .imagenProximamente a {
    font-size: 15px;
    flex-grow: 1;
    height: 500px;
    width: auto;
    color: white;
    background: #002d72;
    border: solid #0096c8 2px;
  }
}
/* RESPONSIVE DESKTOP*/
@media (min-width: 769px) {
  /****** INDEX BOOTSTRAP*****/
  #paginaPrincipal {
    background-color: #002D72 !important;
    border-radius: 12px;
  }
  #paginaPrincipal section {
    /*Se usa ID para central todos los elementos SOLO en la pagina principal*/
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 20px;
    flex-wrap: wrap;
  }
  .buscador input {
    width: 500px;
    height: 40px;
  }
  .w-100 {
    /* Fuerza a poner la imagen en carusel al mismo tamaño */
    width: 100vw !important;
    height: 50vh;
  }
  .carousel-item {
    border: #FAF9F8 solid 3px;
  }
  /* Propiedades Index-Catalogo */
  .imagenSecciones {
    overflow: hidden;
    height: 600px;
    max-width: 290px;
    border-bottom: solid 3px #FAF9F8;
    padding: 30px;
    border-top: solid 3px #FAF9F8;
    cursor: default;
    transition: all 400ms ease;
  }
  .imagenSecciones a {
    display: flex;
    flex-direction: column;
    transition: all 400ms ease;
  }
  .imagenSecciones a img {
    min-height: 320px;
    width: auto;
    box-shadow: 7px 14px 20px 3px #8895A2;
  }
  .imagenSecciones a H3 {
    padding: 50px;
    transition: all 400ms ease;
  }
  .imagenSecciones a:hover {
    transform: translateY(-5%);
    background-color: #FAF9F8;
  }
  .imagenSecciones a:hover H3 {
    color: #002D72;
  }
  /* Propiedades Index-UltimasNovedades*/
  .imagenNovedades {
    max-width: 350px;
    height: 350px;
    padding: 50px;
    border-bottom: solid 3px #FAF9F8;
    border-top: solid 3px #8895A2;
    border-radius: 50%;
    transition: all 1200ms ease;
  }
  .imagenNovedades a {
    display: flex;
    flex-direction: column;
  }
  .imagenNovedades a img {
    height: 200px;
    width: 200px;
    border: 2px solid #9EABB5;
    position: relative;
    top: -20px;
  }
  .imagenNovedades h3 {
    font-size: 10px;
    flex-grow: 1;
    height: 110px;
    width: auto;
    background-color: #8895A2;
    color: #FAF9F8;
    border-radius: 10px;
    position: relative;
    top: -80px;
    transition: all 800ms ease;
  }
  .imagenNovedades h1 {
    color: #FAF9F8;
    position: relative;
    top: -226px;
    visibility: hidden;
    opacity: 0;
    transition: all 1200ms ease;
  }
  .imagenNovedades:hover h1 {
    opacity: 1;
    visibility: visible;
    box-shadow: rgba(234, 231, 231, 0.45) 0px 25px 20px -20px;
  }
  .imagenNovedades:hover h3 {
    opacity: 0;
    visibility: hidden;
  }
  .imagenNovedades:hover {
    background-color: rgba(166, 177, 195, 0.178);
  }
  .imagenNovedades:hover img {
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 0px 25px 40px 2px rgba(0, 0, 0, 0.7);
    opacity: 0.2;
  }
  /* Propiedades Index-Proximamente*/
  .imagenProximamente {
    display: flex;
    justify-content: start;
    max-width: 260px;
    max-height: 310px;
  }
  .imagenProximamente h2 {
    visibility: hidden;
  }
  .imagenProximamente a {
    background-color: rgba(166, 177, 195, 0.87);
    display: flex;
    flex-direction: column;
    margin: 20px 30px 10px 40px;
    font-size: 10px;
    flex-grow: 1;
    color: #FAF9F8;
    background: #002D72;
    border: solid #FAF9F8 2px;
    border-radius: 20px;
  }
  .imagenProximamente a img {
    display: flex;
    height: 150px;
    width: 150px;
    padding: 10px;
    object-fit: cover;
    /* Sirve para que no se distorsione la imagen */
  }
}
/*Clases figurasArticuladas*/
#figuraArticulada {
  cursor: default;
  background-color: #FAF9F8;
}

.lista {
  grid-area: lista;
  display: flex;
}

.piePagina {
  grid-area: piePagina;
  display: flex;
}

.productos {
  grid-area: productos;
  padding: 80px;
  margin: 80px;
  gap: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*Casilla productos*/
.casillaGeneralItem {
  display: flex;
  justify-content: space-between;
  background-color: #A6B1C3;
  margin: 30px;
  width: 800px;
  height: 150px;
  transition: all 400ms ease;
  border-radius: 50px;
}
.casillaGeneralItem:hover {
  background-color: black;
  width: 1200px;
  height: 160px;
}

.imagenItem {
  display: flex;
  padding: 20px;
  max-width: 300px;
  max-height: auto;
  align-items: center;
  justify-content: center;
}
.imagenItem img {
  border-radius: 20px;
  margin-top: -40px;
  max-width: 200px;
  max-height: auto;
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.descripcion {
  display: flex;
  flex-direction: column;
  font-size: 10px;
  align-items: center;
  justify-content: space-around;
  max-width: 400px;
  text-align: center;
}

.productoNombre {
  font-size: 25px;
  font-weight: bolder;
  font-family: "Fredoka", sans-serif;
  color: #FAF9F8;
}

.productoPrecio {
  color: #FAF9F8;
  display: flex;
  font-size: 35px;
  font-weight: bolder;
  font-family: "Fredoka", sans-serif;
  align-self: flex-end;
}

.estadoYconsulta {
  background-color: #8895A2;
  color: #FAF9F8;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0px 20px;
}

/* RESPONSIVE MOBILE*/
@media (max-width: 900px) {
  /*  RESPONSIVE MOBILE PAGINA FIGURA ARTICULADA */
  #figuraArticulada {
    display: grid;
    justify-content: space-evenly;
    justify-items: center;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    gap: 10px 10px 10px;
    grid-template-areas: "lista" "productos" "piePagina";
  }
  .lista {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .productos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .casillaGeneralItem {
    display: flex;
    align-items: center;
    width: 250px;
    height: auto;
    pointer-events: none;
  }
  .productoNombre {
    padding: 2px;
    font-size: 10px;
    text-align: unset;
  }
  .productoPrecio {
    margin-top: 8px;
    font-size: 15px;
  }
  .estadoYconsulta {
    font-size: 14px;
    padding: 10px;
  }
  .imagenItem {
    height: 80px;
    width: 60px;
  }
  .imagenItem img {
    height: 50px;
    width: auto;
    align-items: center;
    justify-content: center;
    object-fit: cover;
  }
}
#paginaPreguntasFrec {
  display: flex;
  flex-direction: column;
  font-size: larger;
  padding: 5%;
  text-align: center;
  background-color: #FAF9F8;
  border: 3px solid;
}
#paginaPreguntasFrec h1 {
  margin: 20px;
  font-size: 70px;
  color: #8895A2;
  text-transform: uppercase;
}
#paginaPreguntasFrec ol {
  margin-bottom: 2%;
}
#paginaPreguntasFrec ol li {
  font-weight: bold;
  list-style: none;
  margin: 2%;
  font-size: 3rem;
  color: #A6B1C3;
}

@media (max-width: 900px) {
  #paginaPreguntasFrec {
    display: flex;
    flex-direction: column;
  }
  #paginaPreguntasFrec h1 {
    font-size: 30px;
  }
  #paginaPreguntasFrec ol {
    margin-bottom: 2%;
  }
  #paginaPreguntasFrec ol li {
    font-weight: bold;
    list-style: none;
    margin: 2%;
    font-size: 25px;
    color: #A6B1C3;
    min-width: 17px;
  }
}
footer {
  padding: 1%;
  display: flex;
  justify-content: space-around;
  width: 80vw;
  height: 35vh;
  margin-bottom: 1%;
  border-radius: 50px;
  position: relative;
  bottom: 0%;
  background-color: #8895A2;
}
footer ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
footer ul iframe {
  border: solid #FAF9F8;
  width: 200px;
  height: 120px;
}
footer ul h3 {
  padding: 10px;
  margin-bottom: 30px;
}
footer ul li {
  cursor: default;
  display: flex;
  align-items: center;
  font-size: 15px;
  margin: 2px;
}
footer ul li a {
  text-decoration: none;
  text-transform: none;
  color: #8895A2;
  background-color: #FAF9F8;
  padding: 15px;
  border-radius: 20px;
  text-transform: uppercase;
  font-weight: bolder;
  transition: all 120ms;
}
footer ul li a:hover {
  color: #FAF9F8;
  background-color: #9EABB5;
}

/* RESPONSIVE MOBILE*/
@media (max-width: 1300px) {
  footer {
    height: auto;
    flex-direction: column;
    text-align: center;
    list-style: none;
  }
  footer ul iframe {
    border: solid #FAF9F8;
    max-width: 300px;
    height: 200px;
  }
}
.lista {
  background-color: #002D72;
  height: 80px;
  width: 80vw;
  position: fixed;
  top: 0;
  left: 50px;
  display: flex;
  justify-content: space-between;
  transition: all 1200ms ease;
}
.lista ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  transition: all 1000ms ease;
}
.lista ul :hover {
  background-color: #A6B1C3;
}
.lista ul :active {
  background-color: #9EABB5;
  color: #FAF9F8;
}
.lista ul li {
  transition: all 1000ms ease;
  font-size: 20px;
  text-align: center;
  border: 2px solid #8895A2;
  margin: auto;
  padding: 12px;
  border-style: none solid none solid;
}
.lista ul li a {
  text-decoration: none;
  color: #FAF9F8;
}

.logo {
  padding-left: 40px;
  font-size: 40px;
  text-decoration: none;
  color: #FAF9F8;
  text-transform: uppercase;
  font-weight: bolder;
  display: flex;
  align-items: center;
}

@media (max-width: 900px) {
  .logo {
    font-size: 20px;
    display: flex;
    align-items: center;
    padding: 20px;
  }
  .lista {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: static;
    background-color: #002D72;
    padding: 20px;
    overflow: auto;
    height: auto;
    border-radius: 60px;
  }
  .lista ul {
    display: flex;
    flex-direction: column;
  }
  .lista ul li {
    font-size: 10px;
    margin-bottom: 15px;
    border-radius: 60px;
    border: 2px;
  }
}
#paginaContacto {
  display: flex;
  flex-direction: column;
}
#paginaContacto .formulario {
  background: #9EABB5;
  margin: 80px 50px 50px 0px;
  display: flex;
  flex-direction: column;
  padding: auto;
  align-items: center;
  border-radius: 15px;
}
#paginaContacto .formulario h1 {
  margin: 20px;
  color: #FAF9F8;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 15px;
}
#paginaContacto .formulario input {
  text-transform: uppercase;
  margin: 1%;
  width: 20vw;
  text-align: center;
  border-radius: 20px;
  border: #8895A2 solid;
  background: #FAF9F8;
  padding: 5px;
}
#paginaContacto .formulario label {
  color: #FAF9F8;
  text-transform: uppercase;
  margin: 20px;
}
#paginaContacto .formulario textarea {
  width: 500px;
  height: auto;
}

@media (max-width: 900px) {
  #paginaContacto {
    display: flex;
    align-items: center;
  }
  #paginaContacto .formulario {
    margin: auto;
    background: #002D72;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    border-radius: 15px;
    margin-bottom: 30px;
    margin-top: 30px;
  }
  #paginaContacto .formulario h1 {
    font-size: 15px;
    margin: 20px;
    color: #FAF9F8;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 15px;
  }
  #paginaContacto .formulario input {
    text-transform: uppercase;
    margin: 1%;
    width: 50vw;
    text-align: center;
    border-radius: 20px;
    border: #8895A2 solid;
    background: #FAF9F8;
    padding: 5px;
  }
  #paginaContacto .formulario label {
    color: #FAF9F8;
    text-transform: uppercase;
    margin: 20px;
  }
  #paginaContacto .formulario textarea {
    width: 250px;
    height: auto;
  }
}
#paginaSobreNosotros {
  display: flex;
  flex-direction: column;
  font-size: larger;
  padding: 5%;
  text-align: center;
  background-color: #FAF9F8;
  border: 3px solid;
}
#paginaSobreNosotros h1 {
  margin: 20px;
  font-size: 70px;
  color: #002D72;
  text-transform: uppercase;
}
#paginaSobreNosotros .bloqueDeTexto {
  margin: 20px;
  padding: 40px;
  margin-bottom: 40px;
}

@media (max-width: 900px) {
  #paginaSobreNosotros .tituloSubtitulo {
    display: flex;
    font-size: 25px;
  }
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 1%;
  margin-bottom: 2%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../multimedia/fondoPagina.jpg);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FAF9F8;
  width: auto;
  padding: auto;
  border-radius: 12px;
}

.ajusteTexto {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 30px;
  font-size: 20px;
  margin: auto;
  overflow: hidden;
}

.tituloSubtitulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #FAF9F8;
  font-family: "Roboto Slab", "Times New Roman", serif;
}

/*# sourceMappingURL=estilos.css.map */
